Checks: 'bugprone-*, clang-analyzer-*, cppcoreguidelines-*, performance-*, portability-*, readability-*, modernize-*, misc-*, -cppcoreguidelines-avoid-magic-numbers, -modernize-use-trailing-return-type'
